@rem:750/10rem;
.initLayer_wrap{
  width:750/@rem;
  height:1334/@rem;
  background-color: #eee;
  position: absolute;
  top:0;
  bottom:0;
  .initLayer_top{
    width:750/@rem;
    margin:0 auto;
    &>img{
      width:750/@rem;
    }
  }
  .initLayer_bottom{
    width:750/@rem;
    margin:0 auto;
    position: relative;
    &>img{
      width:100%;
    }
    &>.download_btn{
      position: absolute;
      top:1.28rem;
      left:2.13rem;
      width:432/@rem;
      height:98/@rem;
    }
    &>.goMisite_btn{
      position: absolute;
      top:3.06rem;
      left:3.28rem;
      width:254/@rem;
      height:30/@rem;
    }
  }
}